@media (max-width: 768px){

    .contact-wrapper{
        grid-template-columns: 1fr;
    }

    .footer-content{
        grid-template-columns: 1fr;

        text-align: center;

        gap: 2rem;
    }

    .footer-logo{
        justify-self: center;
    }

    .social-links{
        justify-content: center;
    }

    .footer-bottom{
        text-align: center;
    }
}