.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-primary);
    font-family: var(--font-main);
    color: var(--color-dark);
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-size: 3.5rem;
}



.hero p {
    font-size: 1.25rem;
    color: var(--color-text);
    margin-bottom: 20px;
}

.hero a{
    font-size: 1.25rem;
    background-color: white;
    margin-bottom: 20px;
    color: rgb(85, 85, 192);
}

/* CTA Button */
.cta-button {
    padding: 12px 25px;
    background: var(--color-primary);
    color: white;
    text-decoration: none;
    border-radius: 999px;
    transition: 0.3s;
    font-weight: 500;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.cta-button:hover {
    background: var(--color-secondary);
    transform: translateY(-3px);
}
/*TABLET: 768px - 1023px*/
@media (max-width: 1023px) {
    .hero h1 {
        font-size: 3rem;
    }
}

/* MOBILE: < 768px*/
@media (max-width: 767px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
}